<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerPart :: headerFragment" />
<body>
	<header th:replace="fragments/headerPart :: header" />
	
	<div class="container">
	
		<nav>
			<div class="container">
				<ol class="breadcrumb">
					<li aria-current="page" class="breadcrumb-item"><a href="/">Home</a></li>
					<li aria-current="page" class="breadcrumb-item"><a th:href="@{/teachers}">Teachers</a></li>
					<li aria-current="page" class="breadcrumb-item">New teacher registration</li>
				</ol>
			</div>
		</nav>
		
		<div>
			<row
				th:replace="fragments/forms/teacher-form :: teacher-form(editMode=true, canEdit=true, registration=true)" />
		</div>
		
		<div>
			<row
				th:replace="fragments/lists/subjects-list-teacher :: subjects-list-teacher(editTeacher=true)" />
		</div>
		
	</div>
</body>
</html>