<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerPart :: headerFragment" />
<body>
	<header th:replace="fragments/headerPart :: header" />
	<div class="container">
		<nav>
			<div class="container">
				<ol class="breadcrumb">
					<li aria-current="page" class="breadcrumb-item"><a href="/">Home</a></li>
					<li aria-current="page" class="breadcrumb-item"><a th:href="@{/students}">Students</a></li>
					<li aria-current="page" class="breadcrumb-item" th:text="${student.getFirstName()+' '+student.getLastName()}" /></li>
					<li aria-current="page" class="breadcrumb-item active">Edit></li>
				</ol>
			</div>
		</nav>
<div>
		<row
			th:replace="fragments/forms/student-form :: student-form(editMode=true, canEdit=true)" />
</div>
	</div>

</body>
</html>