<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<row class="row" id="subjects" th:fragment="subjects-list-teacher(editTeacher)">
	
	<div class="container" >
		<table th:if="${!editTeacher}" class="table table-striped table-bordered table-hover" style="text-align: center">
			<thead>
				<tr>
					<th class="h5 bg-secondary text-white" colspan="3">Subjects
					<a class="btn btn-info btn-sm fs-6 fw-bold" role="button" th:href="@{/subjects/{teacherId}/new(teacherId=${teacher.getId()})}">Add new item</a>
					</th>
				</tr>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="subject,iter : ${teacher.getSubjects()}" th:onclick="'window.location.href=\'/subjects/' + ${subject.getId()} + '\''">
					<td><span th:text="${iter.count}">Index</span>
					<td><span th:text="${subject.getName()}" /></td>
					
					<td>
					<a class="btn btn-primary btn-sm" role="button" th:href="@{/subjects/edit/subject{subjectId}/for/teacher{teacherId}(subjectId=${subject.getId()}, teacherId=${teacher.getId()})}">Edit</a>
					<a class="btn btn-danger btn-sm" role="button" th:href="@{/subjects/delete/subject{subjectId}/from/teacher{teacherId}(subjectId=${subject.getId()}, teacherId=${teacher.getId()})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<row />
</body>
</html>
