<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<row class="row" id="subjects" th:fragment="subjects-list">
	<table class="table table-striped table-bordered table-hover" style="text-align: center">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="subject,iter : ${subjects}"
				th:onclick="'window.location.href=\'/subjects/' + ${subject.getId()} + '\''">
				<td><span th:text="${iter.count}">Index</span>
				<td><span th:text="${subject.getName()}" /></td>
			</tr>
		</tbody>
	</table>
	<row />
</body>
</html>