<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<row class="row" id="teachers" th:fragment="teachers-list">
	
	<div class="d-grid">
		<a class="btn btn-primary btn-sm h5 fs-6" role="button" th:href="@{/teachers/registerNewTeacher}">Register a new teacher.</a>
	</div>
	
	<table class="table table-striped table-bordered table-hover" style="text-align: center">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Profile</th>
				<th scope="col">Subjects Count</th>
			</tr>
		</thead>
		<tbody>
			<div th:each="teacher,iter : ${teachers}">
				<div th:if="${!teacher.getIsFired()}">
					<tr th:onclick="'window.location.href=\'/teachers/' + ${teacher.getId()} + '\''">
						<td><span th:text="${iter.count}">Index</span>
						<td><span th:text="${teacher.getFirstName()}" /></td>
						<td><span th:text="${teacher.getLastName()}" /></td>
						<td><span th:text="${teacher.getProfile()}" /></td>
						<td><span th:text="${teacher.getSubjects().size()}" /></td>
					</tr>
				</div>
				<div th:if="${teacher.getIsFired()}">
					<tr>
						<td colspan="5" style="text-align: center" class="bg-danger text-light">Teacher was fired</td>
					</tr>
					<tr class="bg-danger text-light">
						<td><span th:text="${iter.count}">Index</span>
						<td><span th:text="${teacher.getFirstName()}" /></td>
						<td><span th:text="${teacher.getLastName()}" /></td>
						<td><span th:text="${teacher.getProfile()}" /></td>
						<td><span th:text="${teacher.getSubjects().size()}" /></td>
					</tr>
				</div>
			</div>
		</tbody>
	</table>
	<row />
</body>
</html>