<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerPart :: headerFragment" />
<body>
	<header th:replace="fragments/headerPart :: header" />
	<div class="container">
		<nav>
			<div class="container">
				<ol class="breadcrumb">
					<li aria-current="page" class="breadcrumb-item"><a href="/">
							Home</a></li>
					<li aria-current="page" class="breadcrumb-item"><a
						th:href="@{/groups}">Groups</a></li>
					<li aria-current="page" class="breadcrumb-item"
						th:text="'Grup: ' + ${group.getName()}" />
			</div>
		</nav>
		<div>
			<row
				th:replace="fragments/forms/group-form :: group-form(editMode=false, canEdit=false)" />

		</div>
		<div>
			<row
				th:replace="fragments/lists/students-list-group :: students-list-group" />

		</div>
</body>
</html>