<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<row class="row" id="group" th:fragment="group-form(editMode, canEdit)">
	
	<div class="d-grid" th:if="${!editMode}">
		<a class="btn btn-primary btn-sm h5" role="button" th:href="@{/lectures/groups/{id}(id=${group.getId()})}">Schedule</a>
	</div>
	
	<form method="post" th:action="@{/groups/{id}/edit(id=${group.getId()})}" th:object="${group}">

		<div class="mb-3">
			<label for="name">Name</label>
			<input class="form-control" id="name" th:field="*{name}" th:readonly="${!editMode}" th:value="${group.getName()}" type="text" />
		</div>
		
		<div class="mb-3" th:if="${editMode}">
			<a class="btn btn-danger btn-sm" role="button" th:href="@{/groups/{id}(id=${group.getId()})}">Cancel</a>
			<button class="btn btn-success btn-sm" type="submit">Save</button>
		</div>
		
	</form>
	
	<div class="mb-3" th:if="${!editMode}">
			<a class="btn btn-primary btn-sm" role="button" th:href="@{/groups/{id}/edit(id=${group.getId()})}">Edit</a>
	</div>
	
	</row>
</body>
</html>