<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<row class="row" id="group" th:fragment="group-form(editMode, canEdit)">
	
	<div class="d-grid">
		<a class="btn btn-primary btn-sm h5" role="button"
			th:href="@{/lectures/groups/{id}(id=${group.getId()})}">Shedule</a>
	</div>
	
	<form method="post"
		th:action="@{/groups/{id}/edit(id=${group.getId()})}"
		th:object="${group}">

		<div class="mb-3">
			<label for="name">Name</label> <input class="form-control" id="name"
				th:field="*{name}" th:readonly="${!editMode}"
				th:value="${group.getName()}" type="text" />
		</div>
	</form>
	
	<div class="mb-3">
		<form method="post"
			th:action="@{/groups/{id}/delete(id=${group.getId()})}">
			<a class="btn btn-primary btn-sm" role="button"
				th:href="@{/groups/{id}/edit(id=${group.getId()})}">Edit</a>
			<button class="btn btn-danger btn-sm"
				onclick="return confirm('Are you sure?')" type="submit">Delete
			</button>
		</form>
	</div>
	
	</row>
</body>
</html>