<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<row class="row" id="lecture"
		th:fragment="lecture-form(editMode, canEdit)">

	<form method="post"
		th:action="@{/lectures/{id}/edit(id=${lecture.getId()})}"
		th:object="${lecture}">
		<div class="mb-3">
			<label for="date">Date</label> <input class="form-control" id="date"
				th:field="*{date}" th:readonly="${!editMode}"
				th:value="${lecture.date}" type="text" />
		</div>
		<div class="mb-3">
			<label for="session">Session</label> <input class="form-control"
				id="session" th:field="*{session}" th:readonly="${!editMode}"
				th:value="${lecture.getSession().getPeriod()}" type="text" />
		</div>
		<div class="mb-3">
			<label for="audience">Audience</label> <input class="form-control"
				id="audience" th:field="*{audience}" th:readonly="${!editMode}"
				th:value="${lecture.getAudience().getRoomNumber()}" type="text" />
		</div>
		<div class="mb-3">
			<label for="subject">Subject</label> <input class="form-control"
				id="subject" th:field="*{subject}" th:readonly="${!editMode}"
				th:value="${lecture.getSubject().getName()}" type="text" />
		</div>
		<div class="mb-3">
			<label for="teacher">Teacher</label> <input class="form-control"
				id="teacher" th:field="*{teacher}" th:readonly="${!editMode}"
				th:value="${lecture.getTeacher().getFirstName()} + ' ' + ${lecture.getTeacher().getLastName()}"
				type="text" />
		</div>
		<div class="mb-3">
			<label for="group">Group</label> <input class="form-control"
				id="group" th:field="*{group}" th:readonly="${!editMode}"
				th:value="${lecture.getGroup().getName()}" type="text" />
		</div>
	</form>
	
	<div class="mb-3">
        <form method="post" th:action="@{/lectures/{id}/delete(id=${lecture.getId()})}">
            <a class="btn btn-primary btn-sm" role="button"
               th:href="@{/lectures/{id}/edit(id=${lecture.getId()})}">Edit</a>
            <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')" type="submit">Delete
            </button>
        </form>
    </div>
    
	</row>
</body>
</html>