<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<row class="row" id="student"
		th:fragment="student-form(editMode, canEdit)">

	<div class="d-grid">
		<a class="btn btn-primary btn-sm h5" role="button"
			th:href="@{/lectures/groups/{id}(id=${student.getGroupId()})}">Shedule</a>
	</div>

	<form method="post"
		th:action="@{/students/{id}/edit(id=${student.getId()})}"
		th:object="${student}">

		<div class="mb-3">
			<label for="firstName">First Name</label> <input class="form-control"
				id="firstName" th:field="*{firstName}"
				th:readonly="${!editMode}"
				th:value="
				${student.getFirstName()}" type="text">
		</div>

		<div class="mb-3">
			<label for="lastName">Last Name</label> <input class="form-control"
				id="lastName" th:field="*{lastName}"
				th:readonly="${!editMode}"
				th:value="
				${student.getLastName()}" type="text">
		</div>
		<div class="mb-3">
			<label for="gender">Gender</label> <input class="form-control"
				id="gender" th:field="*{gender}"
				th:readonly="${!editMode}" th:value="
				${student.getGender()}"
				type="text">
		</div>
		<div class="mb-3">
			<label for="email">Email</label> <input class="form-control"
				id="email" th:field="*{email}" th:readonly="${!editMode}" th:value="
				${student.getEmail()}"
				type="text">
		</div>
		<div class="mb-3">
			<label for="address">Address</label> <input class="form-control"
				id="address" th:field="*{address}"
				th:readonly="${!editMode}"
				th:value="
				${student.getAddress()}" type="text">
		</div>
		<div class="mb-3">
			<label for="age">Age</label> <input class="form-control" id="age"
				th:field="*{age}" th:readonly="${!editMode}" th:value="
				${student.getAge()}" type="text">
		</div>
		<div class="mb-3">
			<label for="phoneNumber">Phone Number</label> <input
				class="form-control" id="phoneNumber" th:field="*{phoneNumber}"
				th:readonly="${!editMode}"
				th:value="
				${student.getPhoneNumber()}" type="text">
		</div>
		<div class="mb-3">
			<label for="groupName">Group</label> <input class="form-control"
				id="groupName" th:value="${group.name}"
				th:readonly="${!editMode}" type="text">
		</div>
	</form>

	<div class="mb-3" th:if="${!editMode && canEdit}">
		<form method="post"
			th:action="@{/students/{id}/cancel(id=${student.getId()})}">
			<a class="btn btn-primary btn-sm" role="button"
				th:href="@{/students/{id}/edit(id=${student.getId()})}">Edit</a>
			<button class="btn btn-danger btn-sm"
				onclick="return confirm('Are you sure?')" type="submit">Delete
			</button>
		</form>
	</div>

	</row>
</body>
</html>