<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerPart :: headerFragment" />
<body>
	<header th:replace="fragments/headerPart :: header" />
	
	<div class="container">
	
		<nav>
			<div class="container">
				<ol class="breadcrumb">
					<li aria-current="page" class="breadcrumb-item"><a href="/">
							Home</a></li>
					<li aria-current="page" class="breadcrumb-item"><a
						th:href="@{/subjects}">Subjects</a></li>
					<li aria-current="page" class="breadcrumb-item active"
						th:text="'Subject: ' + ${subject.getName()}" />
					</li>
				</ol>
			</div>
		</nav>
		
		<div>
			<row
				th:replace="fragments/forms/subject-form :: subject-form(editMode=false, canEdit=true)"/>
		</div>
		
		<div>
			<row
				th:replace="fragments/lists/teachers-list-subject :: teachers-list-subject"/>
		</div>
		
	</div>
</body>
</html>